<!DOCTYPE html>

<html>
    <head>
        <title>Radar.</title>
        <meta charset="utf-8" />

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>

        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
    </head>

    <body>
        <div id="map" style="width:100%;height:100%">
            <div id="input">
                <input id="name" type="text" placeholder="Enter name">
                <input id="go" type="button" value="Go">
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#name').focus();
            });

            $('#go').click(function () {
                // Get input name.
                var name = $('#name').val();

                // Create a random ID to identify device (could be done in the backend with sessions,
                // but oh well).
                var id = randomize(10, 10);

                // Variables to track position updates and check for changes in iterations.
                var prevX = 0;
                var prevY = 0;

                // Data object and tilelayer and map.
                var data = {};
                var osm = '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>';
                var tilelayer = L.tileLayer('http://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; OpenCycleMap, ' + 'Map data ' + osm
                });

                $('#map').html('');
                var map = L.map('map');
                tilelayer.addTo(map);
                map.invalidateSize();
                map.fitWorld();

                var ws, timeout = null;
                connect();
                getLocation();

                function connect () {
                    // Connect to backend through pubsub websocket
                    try {
                        ws = new WebSocket('{{ ws_url }}?subscribe-broadcast&publish-broadcast');
                        ws.onopen = ws_onopen;
                        ws.onmessage = ws_onmessage;
                        ws.onerror = ws_onerror;
                        ws.onclose = ws_onclose;
                        timeout = null;
                    } catch (err) {
                        console.log(err + "\nReconnecting...");
                        timeout = setTimeout(connect, 5000); // retry every 5 seconds
                    }
                }

                function ws_onopen () {
                    console.log("Connection established: " + ws.url);
                }

                function ws_onerror (e) {
                    console.warn("Connection broken.");
                    if (!timeout) {
                        timeout = setTimeout(connect, 1000);
                    }
                }

                function ws_onmessage (message) {
                    // Update map on receiving a socket message.
                    var pos = JSON.parse(message.data);
                    var markerPos = new L.LatLng(pos.x, pos.y);
                    var marker = new L.CircleMarker(markerPos);
                    marker.bindPopup("<strong>" + pos.name + "</strong>" + "<br />" + currTime());
                    marker.addTo(map);

                    // If client's location has already been tracked, add marker for
                    // current position and extend polyline. Otherwise, create a new marker.
                    if (pos.id in data) {
                        data[pos.id].markers.push(marker);
                        data[pos.id].polyline.addLatLng(markerPos);
                    } else {
                        data[pos.id] = {}
                        var polyline = new L.polyline(markerPos);
                        polyline.addTo(map);
                        data[pos.id].markers = []
                        data[pos.id].markers.push(marker);
                        data[pos.id].polyline = polyline;
                    }
                }

                function ws_onclose (e) {
                    console.log("Connection terminated.");
                    if (!timeout) {
                        timeout = setTimeout(connect, 1000);
                    }
                }

                function currTime () {
                    // Time in HH:MM:SS format.
                    var time = new Date();
                    return time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds();
                }

                function getLocation () {
                    // Continuously monitor GPS location.
                    if (navigator.geolocation) {
                        var interval = setInterval(function () {
                            navigator.geolocation.getCurrentPosition(showPosition, errHandler, {timeout: 10000});
                        }, 1000);
                    } else {
                        setStatus('Geolocation is not supported by this browser.');
                    }
                }

                function exists (arr, key, value) {
                    // Check if key-value pair exists in array of key-value pairs.
                    var hasElem = false;
                    $.each(arr, function (i, v) {
                        if (v[key] == value) {
                            hasElem = true;;
                        }
                    });

                    return hasElem;
                }

                function showPosition(position) {
                    // Send a message if coords have changed, otherwise don't.
                    var x = position.coords.latitude;
                    var y = position.coords.longitude;
                    var markerPos = new L.LatLng(x, y);

                    if (!(x == prevX && y == prevY)) {
                        ws.send(JSON.stringify({'name': name, 'id': id, 'x': x, 'y': y}));
                        prevX = x;
                        prevY = y;
                    }
                }

                function errHandler (err) {
                    switch (err.code) {
                        case err.PERMISSION_DENIED:
                            setStatus("Request Denied");
                            break;
                        case err.POSITION_UNAVAILABLE:
                            setStatus("Information unavailable");
                            break;
                        case err.TIMEOUT:
                            setStatus("Request timed out");
                            break;
                        case err.UNKNOWN_ERROR:
                            setStatus("Unknown error");
                            break;
                    }
                }

                function setStatus (statusMsg) {
                    // Status at the bottom of the page.
                    $('#map').append('<div id="status">' + statusMsg + '</div>');
                }

                function randomize(min, max) {
                    // Reimplemented from http://stackoverflow.com/a/10727155
                    var chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ_';
                    var length = Math.floor(Math.random() * (max - min + 1)) + min;
                    var result = '';
                    for (var i = length; i > 0; --i) result += chars[Math.round(Math.random() * (chars.length - 1))];
                    return result;
                }
            });
        </script>
    </body>
</html>
