<!DOCTYPE html>

<html>
    <head>
        <title>Radar.</title>
        <meta charset="utf-8" />

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>

        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
        <style type="text/css">
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            #map {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            #status {
                z-index: 99;
                position: absolute;
                bottom: 1%;
                font-weight: bold;
                width: 100%;
                text-align: center;
            }
        </style>
    </head>

    <body>
        <div id="map" style="width:100%;height:100%:"></div>

        <script>
            $(document).ready(function () {
                var osm = '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>';
                var tilelayer = L.tileLayer('http://a.tile2.opencyclemap.org/transport/{z}/{x}/{y}.png', {
                    attribution: '&copy; OpenCycleMap, ' + 'Map data ' + osm
                });
                var map = L.map('map');
                tilelayer.addTo(map);
                map.invalidateSize();

                var ws, timeout = null;
                connect();
                getLocation();

                function connect () {
                    try {
                        ws = new WebSocket('{{ ws_url }}?subscribe-broadcast&publish-broadcast');
                        ws.onopen = ws_onopen;
                        ws.onmessage = ws_onmessage;
                        ws.onerror = ws_onerror;
                        ws.onclose = ws_onclose;
                        timeout = null;
                    } catch (err) {
                        console.log(err + "\nReconnecting...");
                        timeout = setTimeout(connect, 5000);
                    }
                }

                function ws_onopen () {
                    console.log("Connection established: " + ws.url);
                }

                function ws_onerror (e) {
                    console.warn("Connection broken.");
                    if (!timeout) {
                        timeout = setTimeout(connect, 1000);
                    }
                }

                function ws_onmessage (message) {
                    var pos = JSON.parse(message.data);
                    console.log(pos.x, pos.y);
                }

                function ws_onclose (e) {
                    console.log("Connection terminated.");
                    if (!timeout) {
                        timeout = setTimeout(connect, 1000);
                    }
                }

                function getLocation () {
                    if (navigator.geolocation) {
                        var interval = setInterval(function () {
                            navigator.geolocation.getCurrentPosition(showPosition, errHandler, {timeout: 10000});
                        }, 1000);
                    } else {
                        setStatus('Geolocation is not supported by this browser.');
                    }
                }

                function showPosition(position) {
                    var x = position.coords.latitude;
                    var y = position.coords.longitude;
                    var markerPos = new L.LatLng(x, y);

                    ws.send(JSON.stringify({'x': x, 'y': y}));

                    map.setView(markerPos, 15);

                    marker = new L.CircleMarker(markerPos).addTo(map);
                }

                function errHandler (err) {
                    if (err.code == 1) {
                        setStatus('Access is denied');
                    } else if (err.code == 2) {
                        setStatus('Position unavailable');
                    }
                }

                function setStatus (statusMsg) {
                    $('#map').append('<div id="status">' + statusMsg + '</div>');
                }

                /*var ssEvent = new EventSource('/stream');
                ssEvent.onmessage = function (message) {
                    console.log(message);
                }*/
            });
        </script>
    </body>
</html>
